In [1]:
from IPython.display import display, HTML
from datetime import datetime

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("raw_data.csv")
df = df.drop(columns=["Sorszám", "Alapbetegségek"])
df.drop(df.index[0:215],0,inplace=True)
df = df.reindex(index=df.index[::-1])
df.reset_index(drop=True, inplace=True)
df.tail(5)

C:\Users\bornalid\AppData\Local\Temp/ipykernel_5772/2552302721.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop(df.index[0:215],0,inplace=True)

         Nem  Kor
32166     Nõ   89
32167     Nõ   78
32168  Férfi   70
32169     Nõ   85
32170  Férfi   70

In [3]:
read_file = pd.DataFrame(pd.read_excel("dates.xlsx"))
read_file.to_csv ("dates.csv",
                  index = None,
                  header=True)
df1 = pd.read_csv("dates.csv")
df1 = pd.read_csv("dates.csv", usecols=['Dátum', 'Elhunytak', 'New Deaths'])
df1.drop(df1.index[0:12],0,inplace=True)
df1['Elhunytak'] = df1['Elhunytak'].fillna(0)
df1['New Deaths'] = df1['New Deaths'].fillna(0)
df1.reset_index(drop=True, inplace=True)
print(df1.head())
len(df1)

        Dátum  Elhunytak  New Deaths
0  2020-03-16        1.0         1.0
1  2020-03-17        1.0         0.0
2  2020-03-18        1.0         0.0
3  2020-03-19        1.0         0.0
4  2020-03-20        4.0         3.0

C:\Users\bornalid\AppData\Local\Temp/ipykernel_5772/292601570.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df1.drop(df1.index[0:12],0,inplace=True)

610

In [4]:
repeat = df1["New Deaths"]
data = pd.DataFrame(np.repeat(df1.values, repeat,axis=0), columns= df1.columns)
data.head()

        Dátum Elhunytak New Deaths
0  2020-03-16       1.0        1.0
1  2020-03-20       4.0        3.0
2  2020-03-20       4.0        3.0
3  2020-03-20       4.0        3.0
4  2020-03-22       6.0        2.0

In [5]:
new_data = pd.merge(data, df, left_index=True, right_index=True)
new_data = new_data.drop(columns=['Elhunytak', 'New Deaths'])
new_data["Dátum"]=pd.to_datetime(new_data["Dátum"])
new_data.set_index("Dátum", inplace=True)
print(new_data.head())
len(new_data)

              Nem  Kor
Dátum
2020-03-16     Nő   76
2020-03-20     Nő   65
2020-03-20  Férfi   74
2020-03-20  Férfi   79
2020-03-22  Férfi   68

32171

In [6]:
df1["Dátum"]=pd.to_datetime(df1["Dátum"])
df1.set_index("Dátum", inplace=True)
data_with_dates=pd.merge(df1,new_data, how='inner', left_index=True, right_index=True)
data_with_dates.to_csv("data_with_dates.csv")
data_with_dates.reset_index(level=0, inplace=True)

In [7]:
data_with_dates.head(10)

       Dátum  Elhunytak  New Deaths    Nem  Kor
0 2020-03-16        1.0         1.0     Nő   76
1 2020-03-20        4.0         3.0     Nő   65
2 2020-03-20        4.0         3.0  Férfi   74
3 2020-03-20        4.0         3.0  Férfi   79
4 2020-03-22        6.0         2.0  Férfi   68
5 2020-03-22        6.0         2.0     Nő   41
6 2020-03-23        8.0         2.0  Férfi   38
7 2020-03-23        8.0         2.0  Férfi   53
8 2020-03-24        9.0         1.0     Nő   90
9 2020-03-25       10.0         1.0  Férfi   75

In [8]:
bins= pd.DataFrame(pd.cut(x=data_with_dates['Kor'], bins=[0, 9, 19, 29, 39, 49,59,69, 79, 89,99, 109]))
bins.rename(columns={'Kor' :'Age'},inplace=True)
bins

            Age
0      (69, 79]
1      (59, 69]
2      (69, 79]
3      (69, 79]
4      (59, 69]
...         ...
32166  (79, 89]
32167  (69, 79]
32168  (69, 79]
32169  (79, 89]
32170  (69, 79]

[32171 rows x 1 columns]

In [9]:
data_with_dates=pd.concat((data_with_dates,bins), axis = 1)
data_with_dates.drop(columns=["Elhunytak","New Deaths"], inplace = True)
data_with_dates.head(20)

        Dátum    Nem  Kor       Age
0  2020-03-16     Nő   76  (69, 79]
1  2020-03-20     Nő   65  (59, 69]
2  2020-03-20  Férfi   74  (69, 79]
3  2020-03-20  Férfi   79  (69, 79]
4  2020-03-22  Férfi   68  (59, 69]
5  2020-03-22     Nő   41  (39, 49]
6  2020-03-23  Férfi   38  (29, 39]
7  2020-03-23  Férfi   53  (49, 59]
8  2020-03-24     Nő   90  (89, 99]
9  2020-03-25  Férfi   75  (69, 79]
10 2020-03-28  Férfi   80  (79, 89]
11 2020-03-29  Férfi   73  (69, 79]
12 2020-03-29     Nő   86  (79, 89]
13 2020-03-30  Férfi   92  (89, 99]
14 2020-03-30  Férfi   94  (89, 99]
15 2020-03-31     Nő   59  (49, 59]
16 2020-03-31     Nő   86  (79, 89]
17 2020-04-01     Nő   67  (59, 69]
18 2020-04-01  Férfi   66  (59, 69]
19 2020-04-01  Férfi   91  (89, 99]

In [10]:
rep = pd.DataFrame(data_with_dates.groupby(pd.Grouper(freq='W', key='Dátum'))['Nem'].count())
rep.reset_index(inplace=True)
rep1 = rep["Nem"]
mydata = pd.DataFrame(np.repeat(rep.values, rep1,axis=0), columns= rep.columns)
mydata["Date"] = mydata["Dátum"] 
mydata["Count"] = mydata["Nem"]
mydata.drop(columns=["Dátum", "Nem"], inplace = True)
mydata.head()

        Date Count
0 2020-03-22     6
1 2020-03-22     6
2 2020-03-22     6
3 2020-03-22     6
4 2020-03-22     6

In [11]:
data_with_dates=pd.merge(mydata, data_with_dates, how='inner', left_index=True, right_index=True)
data_with_dates.drop(columns=["Dátum"], inplace = True)
data_with_dates["Date"] = data_with_dates["Date"].dt.date

data_with_dates.head(10)

         Date Count    Nem  Kor       Age
0  2020-03-22     6     Nő   76  (69, 79]
1  2020-03-22     6     Nő   65  (59, 69]
2  2020-03-22     6  Férfi   74  (69, 79]
3  2020-03-22     6  Férfi   79  (69, 79]
4  2020-03-22     6  Férfi   68  (59, 69]
5  2020-03-22     6     Nő   41  (39, 49]
6  2020-03-29     7  Férfi   38  (29, 39]
7  2020-03-29     7  Férfi   53  (49, 59]
8  2020-03-29     7     Nő   90  (89, 99]
9  2020-03-29     7  Férfi   75  (69, 79]

In [12]:
table=np.zeros((data_with_dates["Age"].nunique(), data_with_dates["Date"].nunique()))

In [15]:
unique_dates = np.array( data_with_dates["Date"].unique())
unique_age = np.array( data_with_dates["Age"].unique())

In [23]:
Abrar =  data_with_dates.groupby(["Date", "Age"])

In [24]:
Abrar.first()

                      Count    Nem   Kor
Date       Age
2020-03-22 (0, 9]       NaN    NaN   NaN
           (9, 19]      NaN    NaN   NaN
           (19, 29]     NaN    NaN   NaN
           (29, 39]     NaN    NaN   NaN
           (39, 49]     6.0     Nő  41.0
...                     ...    ...   ...
2021-11-21 (59, 69]   304.0  Férfi  63.0
           (69, 79]   304.0  Férfi  74.0
           (79, 89]   304.0     Nõ  86.0
           (89, 99]   304.0     Nõ  91.0
           (99, 109]    NaN    NaN   NaN

[957 rows x 3 columns]