In [1]:
from IPython.display import display, HTML
from datetime import datetime

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("raw_data.csv")
df = df.drop(columns=["Sorszám", "Alapbetegségek"])
#df.sort_values(by=['Kor'], inplace=True)
#df.loc[df["Nem"] == "Nõ"] = "Women"
#df = df.set_index('Kor')
#df.to_csv("df.csv")
#df.dropna()
df.drop(df.index[0:215],0,inplace=True)
df = df.reindex(index=df.index[::-1])
df.reset_index(drop=True, inplace=True)
df.tail(5)
#df.info()

C:\Users\bornalid\AppData\Local\Temp/ipykernel_18348/1212561128.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop(df.index[0:215],0,inplace=True)

         Nem  Kor
32166     Nõ   89
32167     Nõ   78
32168  Férfi   70
32169     Nõ   85
32170  Férfi   70

In [3]:
read_file = pd.DataFrame(pd.read_excel("dates.xlsx"))
#read_file= read_file.drop( " Elhunytak", axis=1)
read_file.to_csv ("dates.csv",
                  index = None,
                  header=True)
   
# read csv file and convert
# into a dataframe object
df1 = pd.read_csv("dates.csv")
df1 = pd.read_csv("dates.csv", usecols=['Dátum', 'Elhunytak', 'New Deaths'])
df1.drop(df1.index[0:12],0,inplace=True)
df1['Elhunytak'] = df1['Elhunytak'].fillna(0)
df1['New Deaths'] = df1['New Deaths'].fillna(0)
df1.reset_index(drop=True, inplace=True)
#df1["Dátum"]=pd.to_datetime(df1["Dátum"])
#df1.set_index("Dátum", inplace=True)
print(df1.head())
len(df1)
#df1.info()

        Dátum  Elhunytak  New Deaths
0  2020-03-16        1.0         1.0
1  2020-03-17        1.0         0.0
2  2020-03-18        1.0         0.0
3  2020-03-19        1.0         0.0
4  2020-03-20        4.0         3.0

C:\Users\bornalid\AppData\Local\Temp/ipykernel_18348/1748439750.py:11: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df1.drop(df1.index[0:12],0,inplace=True)

610

In [4]:
repeat = df1["New Deaths"]
data = pd.DataFrame(np.repeat(df1.values, repeat,axis=0), columns= df1.columns)
#data["Dátum"]=pd.to_datetime(data["Dátum"])
#data.set_index("Dátum", inplace=True)

data.head()

        Dátum Elhunytak New Deaths
0  2020-03-16       1.0        1.0
1  2020-03-20       4.0        3.0
2  2020-03-20       4.0        3.0
3  2020-03-20       4.0        3.0
4  2020-03-22       6.0        2.0

In [5]:
new_data = pd.merge(data, df, left_index=True, right_index=True)
#new_data = pd.read_csv("new_data.csv")
#new_data = pd.read_csv("new_data.csv", usecols=['Dátum', 'Nem', 'Kor'])
new_data = new_data.drop(columns=['Elhunytak', 'New Deaths'])
new_data["Dátum"]=pd.to_datetime(new_data["Dátum"])
new_data.set_index("Dátum", inplace=True)

print(new_data.head())
len(new_data)
#new_data.info()

              Nem  Kor
Dátum
2020-03-16     Nő   76
2020-03-20     Nő   65
2020-03-20  Férfi   74
2020-03-20  Férfi   79
2020-03-22  Férfi   68

32171

In [6]:
df1["Dátum"]=pd.to_datetime(df1["Dátum"])
df1.set_index("Dátum", inplace=True)
data_with_dates=pd.merge(df1,new_data, how='inner', left_index=True, right_index=True)
#data_with_dates = pd.read_csv("dates.csv", usecols=['Elhunytak_x', 'New Deaths_x', 'Nem', 'Kor'])
data_with_dates.to_csv("data_with_dates.csv")
#data_with_dates = pd.read_csv("dates.csv", usecols=['Elhunytak_x', 'New Deaths_x', 'Nem', 'Kor'])

In [7]:
data_with_dates.head(10)

            Elhunytak  New Deaths    Nem  Kor
Dátum
2020-03-16        1.0         1.0     Nő   76
2020-03-20        4.0         3.0     Nő   65
2020-03-20        4.0         3.0  Férfi   74
2020-03-20        4.0         3.0  Férfi   79
2020-03-22        6.0         2.0  Férfi   68
2020-03-22        6.0         2.0     Nő   41
2020-03-23        8.0         2.0  Férfi   38
2020-03-23        8.0         2.0  Férfi   53
2020-03-24        9.0         1.0     Nő   90
2020-03-25       10.0         1.0  Férfi   75

In [7]:
bins= pd.DataFrame(pd.cut(x=data_with_dates['Kor'], bins=[0, 9, 19, 29, 39, 49,59,69, 79, 89,99, 109]))

In [8]:

bins.rename(columns={'Kor' :'Age'},inplace=True)
bins

                 Age
Dátum
2020-03-16  (69, 79]
2020-03-20  (59, 69]
2020-03-20  (69, 79]
2020-03-20  (69, 79]
2020-03-22  (59, 69]
...              ...
2021-11-15  (79, 89]
2021-11-15  (69, 79]
2021-11-15  (69, 79]
2021-11-15  (79, 89]
2021-11-15  (69, 79]

[32171 rows x 1 columns]

In [13]:
data_with_dates.head(10)

            Elhunytak  New Deaths    Nem  Kor
Dátum
2020-03-16        1.0         1.0     Nő   76
2020-03-20        4.0         3.0     Nő   65
2020-03-20        4.0         3.0  Férfi   74
2020-03-20        4.0         3.0  Férfi   79
2020-03-22        6.0         2.0  Férfi   68
2020-03-22        6.0         2.0     Nő   41
2020-03-23        8.0         2.0  Férfi   38
2020-03-23        8.0         2.0  Férfi   53
2020-03-24        9.0         1.0     Nő   90
2020-03-25       10.0         1.0  Férfi   75

In [9]:
data_with_dates=pd.merge(data_with_dates,bins, how='inner', left_index=True, right_index=True)

In [10]:
data_with_dates

            Elhunytak  New Deaths    Nem  Kor       Age
Dátum
2020-03-16        1.0         1.0     Nő   76  (69, 79]
2020-03-20        4.0         3.0     Nő   65  (59, 69]
2020-03-20        4.0         3.0     Nő   65  (69, 79]
2020-03-20        4.0         3.0     Nő   65  (69, 79]
2020-03-20        4.0         3.0  Férfi   74  (59, 69]
...               ...         ...    ...  ...       ...
2021-11-15    32171.0       304.0  Férfi   70  (79, 89]
2021-11-15    32171.0       304.0  Férfi   70  (69, 79]
2021-11-15    32171.0       304.0  Férfi   70  (69, 79]
2021-11-15    32171.0       304.0  Férfi   70  (79, 89]
2021-11-15    32171.0       304.0  Férfi   70  (69, 79]

[4868891 rows x 5 columns]